div.card-row(layout='row')
  div(flex)
    md-card.card
      md-card-content
        // h3.text-headline.text-uppercase <span class="icon-query-builder"></span> Quickstart
        h3.text-headline.text-uppercase <span class="icon-query-builder"></span> クイックスタート
        // p.text-body Learn in 5 minutes
        p.text-body 5分で学ぶ

        footer
          // a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) View Quickstart
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/quickstart.html" class="button" md-button) クイックスタートを見る


  div(flex)
    md-card.card
      md-card-content
        // h3.text-headline.text-uppercase <span class="icon-list"></span> Guide
        h3.text-headline.text-uppercase <span class="icon-list"></span> ガイド
        // p.text-body Step by Step Guide
        p.text-body ステップバイステップガイド

        footer
          // a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary" md-button) View Guide
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/guide/" class="button button-primary" md-button) ガイドを見る


  div(flex)
    md-card.card
      md-card-content
        h3.text-headline.text-uppercase <span class="icon-book"></span> API Preview
        p.text-body API 2.0 Preview

        footer
          // a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button" md-button) View API
          a(href="/docs/#{current.path[1]}/#{current.path[2]}/api/" class="button" md-button) APIを見る


